<!DOCTYPE html>
<html>
<header>
  <nav>
    <ul>
      <li><a class="active" href="post">Post</a></li>
      <li><a  href="get">Search</a></li>
      <li><a  href="delete">Delete</a></li>
    </ul>
  </nav>
  <link rel="stylesheet" href="../styles/normalize.css">
  <link rel="stylesheet" href="../styles/custom.css">
  <h1>MY FASHION CATALOG</h1>
</header>
<body>
<div id="post">
  <form action="/" method="post">
    <label for="name">Name</label>
    <input type="text" id="name" name="name" placeholder="Item Name..">

    <label for="brand">Brand</label>
    <input type="text" id="brand" name="brand" placeholder="Fashion Brand..">

    <label for="description">Description</label>
    <textarea type="text" id="description" name="description" placeholder="Description.."></textarea>

    <label for="material">Material</label>
    <input type="text" id="material" name="material" placeholder="Material..">

    <label for="price">Price</label>
    <input type="text" id="price" name="price" placeholder="Price..">

    <label for="colours">Colours</label>
    <input type="text" id="colours" name="colours" placeholder="Colours..">

    <input type="submit" value="Submit">
  </form>
</div>

</body>
</html>
